@model IEnumerable<DPMSupporter.Web.Models.ProjectDto>
@{
    ViewData["Title"] = "Task";
}
<br />
<br />
<div class="col">
    <h1 class="text-primary">Select your project</h1>
</div>
<div class="container p-5 border">
    <div>
        @foreach (var item in Model)
        {   
            <a asp-action="TaskList" class="btn btn-success w-auto w-50" asp-route-projectId=@item.Id>@item.ProjectName</a>
        }
    </div>
</div>