@model IEnumerable<DPMSupporter.Web.Models.ProjectDto>
@{
    ViewData["Title"] = "Task";
}
<br />
<br />
<div class="col">
    <h1 class="text-primary">Select your project</h1>
</div>
<div class="container p-5 border">
    <select class="btn btn-outline-primary float-left w-50"> name="projects" id="projects">
        @foreach (var item in Model)
        {   
            <option value="@item.ProjectName">@item.ProjectName</option>
        }
    </select>
    <a asp-action="TaskList" class="btn btn-outline-primary float-right w-25"><i class="fas fa-plus"></i>Szukaj</a>
</div>